.form {
    margin: auto;
    display: flex;
    background: rgba(18, 18, 18, .025);
    flex-direction: column;
    padding: 1.5rem 1rem;
    width: 36rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.form > *:first-child {
    margin-top: 0;
}
.form > *:last-child {
    margin-top: 0;
}