.container {
    flex: 0 0 100%;
    position: relative;
    overflow: hidden;
    /* clip-path: circle(100%); */
}

.container>div, .app-inner {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
.app-inner {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    opacity: 1;
    transition: opacity 600ms, clip-path cubic-bezier(0.68, -0.55, 0.265, 1.55) 800ms;
}
